@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

:root {
	--canteen-sidebar-width: 18vw;
	--canteen-sidebar-top: 96px;
	--canteen-sidebar-height: calc(100vh - 96px - 64px);
}
